html, body {
  margin: 0;

  font-family:Arial, Helvetica, sans-serif;
}

.wrapper {
  position: relative;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #e5e7eb;
  padding: 24px;
  border-radius: 8px;
  width: 40%;
  height: 40%;
}

.container textarea {
  border: 1px solid #e5e7eb;
  border-radius: 2px;
  font-family:Arial, Helvetica, sans-serif;
  padding: 4px;
}

.button-container {
  display: flex;
  gap: 4px;
  margin-top: 8px;
}

.button-container button {
  background-color: #2137fc;
  border: 0;
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
}

.button-container button:disabled {
  background-color: gray;
}